body {
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    align-items: center;
}

.header img {
    width: 200px;
    height: auto;
}

.header-links {
    display: flex;
    gap: 32px;
}

a, .hero .hero-content {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 64px 0px;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    gap: 16px;
}

.hero .hero-content, .hero img {
    width: 35%;
    height: auto;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

#top-button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;
    height: auto;
    padding: 4px 0px;
    border-radius: 5px;
    border: #1F2937;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

#features-header {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 48px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin: 24px 0px 48px 0px;
}


.feature {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: auto;
    gap: 12px;
}

.feature .feature-explanation{
    text-align: center;
    color: #535353;
}

.feature img{
    border: 3px solid #3882F6;
    border-radius: 5px;
}

.testimonial{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
}

#quote{
    font-size: 36px;
    font-weight: 100;
    color: #535353;
}

#credit{
    color: #1F2937;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 36px;
}

.sign-up{
    padding: 5% 10%;
}

.sign-up-container{
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 24px 48px;
}
.sign-up-text, h4{
    color: #F9FAF8;
    margin: 0;
}

h4{
    font-size: 32px;
}
#bottom-button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: solid white;
    border-width: 2px;
    width: 100px;
    height: auto;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 18px 0px;
    color: #F9FAF8;
}